@font-face {
    font-family: 'rdr2';
    src: url("fonts/chinese rocks rg.ttf");
}

/* GENERAL */
body {
    background-color: #290704;
    margin: 0;
    color: white;
}

/* NAVBAR */
.navbar {
    background-color: #111;
    overflow: hidden;
    padding: 10px;
    text-align: right;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-family: rdr2, serif;
}

.navbar a:hover {
    color: #ff4444;
}

/* STARTSEITE HEADER */
.header {
    position: relative;
    height: 320px;
}

/* GANG HEADER */
.header-gang {
    position: relative;
    height: 200px;
}

.title {
    font-size: 75px;
    font-family: rdr2, serif;
    text-align: center;
    margin: 0;
    line-height: 300px;
    color: white;
}

.title-gang {
    font-size: 60px;
    font-family: rdr2, serif;
    text-align: center;
    margin: 0;
    line-height: 200px;
    color: white;
}

.left-img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 300px;
}

.right-img {
    position: absolute;
    top: 1px;
    right: 10px;
    height: 400px;
}

article img {
    width: 200px;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
}

.places {
    width: 400px;
}


/* CONTENT beide Seiten */
main {
    width: 80%;
    margin: auto;
}

section {
    margin-bottom: 40px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: rdr2, serif;
}